<div class="item--detail">
  <img src="../../../assets/images/beans.jpeg" alt="Avatar" style="width:100%">
  <div class="item--content">
    <h2><b>{{selectedItem?.blend_name}}</b></h2>
    <dl>
      <dt>Id</dt>
      <dd>{{selectedItem?.id}}</dd>
      <dt>Variety</dt>
      <dd>{{selectedItem?.variety}}</dd>
      <dt>Origin</dt>
      <dd>{{selectedItem?.origin}}</dd>
      <dt>Intensifier</dt>
      <dd>{{selectedItem?.intensifier}}</dd>

      <dt>Origin</dt>
      <dd>{{selectedItem?.origin}}</dd>
      <dt>Notes</dt>
      <dd>{{selectedItem?.notes}}</dd>
    </dl>

  </div>
</div>
