.item--card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
}

.item--card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.item--container {
  padding: 2px 16px;
}

.item--container h4 {
  margin: 2rem 0;
  text-align: center;
  color: var(--primary-app-color);
}

dt::after {
  content: ": ";
}

dt {
  margin-top: 1rem;
  font-weight: bold;
}

dl {
  font-size: 1rem;
}

img {
  max-height: 500px;
}
